include _mixins.jade
include _cart_mock.jade
include _functions.jade

doctype html
html
  head
    title "Web Store"
    +stylesheet_tag('application')
    +font_link_tag("http://fonts.googleapis.com/css?family=Fjalla+One")
  body
    main
      h1 Products
      #cart
        h3
          a(href="#") Cart<span>#{cartTotalItems()}</span>
        #items
          ul
            each item in cart
              li #{item.title} x #{item.quantity}
                span
                  strong $#{format(item.price * item.quantity)}
            li
              strong Total:
              span
                strong $#{format(cartTotal())}
          a(href="#") Checkout

      block content

      +script_tag("cart")